<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd"> 
    
    <!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.wen.web"></context:component-scan>
    <!-- 启用spring mvc 注解 -->
    <context:annotation-config />
	
    <!-- 完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    
<!--     <mvc:interceptors> -->
<!-- 		<bean class="com.wen.web.interceptor.SessionInterceptor" /> -->
<!-- 	</mvc:interceptors> -->

	<bean id="fastJsonMessageConverter"
		class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
	</bean>
	
    <!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
    	<property name="prefix" value="/WEB-INF/jsp/" />
    	<property name="suffix" value=".jsp" />    	
    </bean>
    
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>  
				<prop key="org.springframework.validation.BindException">error/400</prop>
            </props>  
		</property>  
    </bean>
    
<!--     <mvc:default-servlet-handler/> -->
</beans>